.container{
    width: 75%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-box{
    background-color: antiquewhite;
    text-align: center;
}