@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

body{
    color: white;
    height: 100vh;
}
.container{
    font-family: "Playwrite GB S", cursive;
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.title{
    font-size: 50px;
    margin: 20px;
}
.description{
    font-size: 25px;
    width: 50%;
    text-align: center;
}
.container .quote{
    text-align: center;
    font-size: 40px;
}

.container .author{
    font-size: 30px;
    color: #141f36;
    text-align: center;
    font-weight: bolder;
}

.quote-box{
    background: linear-gradient(to top right, #4967a8, #5c81b1, #86abc8);
    opacity: 0.8;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 60%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3), 0 2px 6px rgba(0, 0, 0, 0.2);
}

.copy-btn{
    padding: 10px 15px;
    border: none;
    border-radius: 40px;
    background-color: #1d2c4b;
    color: white;
    margin: 10px;
    cursor: pointer;
    font-size: 24px;
    font-family: "Playwrite GB S", cursive;
    transition: 0.5s;
}

.copy-btn:hover{
    background-color: #27395c;
}

i{
    padding: 0 8px;
}

input{
    background-color: #1d2c4b;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3), 0 2px 6px rgba(0, 0, 0, 0.2);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 2px 8px;
    font-size: 22px;
    margin: 5px;
    cursor: pointer;
    font-family: "Playwrite GB S", cursive;
    transition: 0.5s;
}

input:hover{
    opacity: 0.8;
}