@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

body{
    background: linear-gradient(to bottom right, #fbc2eb, #a6c1ee, #fcd8e0);
    height: 100vh;
}
.container{
    font-family: "Playwrite GB S", cursive;
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.title{
    font-size: 50px;
    margin: 20px;
}
.description{
    font-size: 25px;
    width: 50%;
    text-align: center;
}
.container .quote{
    text-align: center;
    font-size: 40px;
}

.container .author{
    font-size: 30px;
    color: brown;
    text-align: center;
    font-weight: bold;
}

.quote-box{
    background: linear-gradient(to bottom right, #f3e0dc, #f8d5c4, #f7b5a7);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 60%;
}

.copy-btn{
    padding: 10px 15px;
    border: none;
    border-radius: 40px;
    background-color: brown;
    color: antiquewhite;
    margin: 10px;
    cursor: pointer;
    font-size: 24px;
    font-family: "Playwrite GB S", cursive;
}

i{
    padding: 0 8px;
}

input{
    background-color: azure;
    border: none;
    border-radius: 10px;
    padding: 2px 8px;
    font-size: 22px;
    margin: 5px;
    cursor: pointer;
    font-family: "Playwrite GB S", cursive;
}